<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/editprofile.css" />
  </head>
  <body>
    <div class="cont">
      <form action="/login" method="post">
        <div class="innerCont">
          <div class="upperCont">
            <div class="textImage">
              <img src="/images/instagram-text-image.png" alt="" />
            </div>
            <div class="inptBox">
                <button>Add photo</button>
              <textarea
                placeholder="Description"
                autocomplete="current-password"
                name="password"
                required
              ></textarea>
            </div>
            <div class="signUpbtn">
              <button>Post</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
