<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/editprofile.css" />
    <link rel="icon" href="/images/instagram.png"/>
  </head>
  <body>
    <div class="cont">
      <form action="/uploadpost" method="post" enctype="multipart/form-data">
        <div class="innerCont">
          <div class="upperCont">
            <div class="textImage">
              <img src="/images/instagram-text-image.png" alt="" />
            </div>
            <div class="inptBox">
                <p id="post">Add photo</p>
                <input type="file" id="ipt" name="photo" hidden>
              <textarea
                placeholder="Caption"
                name="caption"
              ></textarea>
            </div>
            <div class="signUpbtn">
              <button type="submit">Post</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/javascripts/addpost.js"></script>
  </body>
</html>
