<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/editprofile.css" />
  </head>
  <body>
    <div class="cont">
      <form action="/edit" method="post" enctype="multipart/form-data">
        <div class="innerCont">
          <div class="upperCont">
            <div class="textImage">
              <img src="/images/instagram-text-image.png" alt="" />
            </div>
            <div class="inptBox">
              <button id="dp">Change photo</button>
              <input type="file" hidden id="iptdp" name="image" />
              <input type="text" placeholder="Username" name="username" />
              <input type="text" placeholder="Name" name="name" />
              <textarea placeholder="Description" name="password"></textarea>
            </div>
            <div class="signUpbtn">
              <button type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/javascripts/editprofile.js"></script>
  </body>
</html>
