<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/editprofile.css" />
    <link rel="icon" href="/images/instagram.png"/>
  </head>
  <body>
    <div class="cont">
      <form action="/updateprofile" method="post" enctype="multipart/form-data">
        <div class="innerCont">
          <div class="upperCont">
            <div class="textImage">
              <img src="/images/instagram-text-image.png" alt="" />
            </div>
            <div class="inptBox">
              <p id="dp">Change photo</p>
              <input type="file" id="iptdp" hidden name="image" />
              <input
                type="text"
                placeholder="Username"
                name="username"
                value="<%= user.username.toLowerCase() %>"
              />
              <input
                type="text"
                placeholder="Name"
                name="name"
                value="<%= user.fullname %>"
              />
              <textarea
                placeholder="Description"
                name="description"
              ><%= user.description %></textarea>
            </div>
            <div class="signUpbtn">
              <button type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="/javascripts/editprofile.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
