<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css" />
  </head>
  <body>
    <div class="cont">
      <!-- <div class="searchBar">
                <input type="text" placeholder="Search instagram">
        </div> -->
      <div class="feed">
        <div class="files">
          <% posts.forEach(function(e){ %>
            <a href="/post/<%= e._id %>">
              <img
              src="/images/uploads/<%= e.image %>"
              alt=""
              />
            </a>
            <% }) %>
        </div>
      </div>
    </div>
    <% include ./nav.ejs %>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
