<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="cont">
      <div class="innerCont">
        <div class="upperCont">
          <div class="textImage">
            <img src="/images/instagram-text-image.png" alt="" />
          </div>
          <div class="inptBox">
            <input
              type="email"
              placeholder="Email"
              autocomplete="email"
              required
            />
            <input type="text" placeholder="Full Name" required />
            <input
              type="text"
              placeholder="Username"
              autocomplete="username"
              required
            />
            <input type="password" placeholder="Password" required />
          </div>
          <div class="info">
            <p>
              By signing up, you agree to our <a href="">Terms</a> , <a href="">Privacy Policy</a> and <a href="">Cookies
              Policy </a>.
            </p>
          </div>
          <div class="signUpbtn">
            <button>Sign up</button>
          </div>
          <div class="boxOfLine">
            <div class="line"></div>
            <p>OR</p>
            <div class="line"></div>
          </div>
        </div>
        <div class="lowerCont">
          <p>Have an account? <a href="/login">Log in</a></p>
        </div>
      </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
