<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <div class="cont">
      <div class="innerCont">
        <div class="upperCont">
          <div class="textImage">
            <img src="/images/instagram-text-image.png" alt="" />
          </div>
          <div class="inptBox">
            <input
              type="text"
              placeholder="Username"
              autocomplete="username"
              required
            />
            <input type="password" placeholder="Password" required />
          </div>
          <div class="signUpbtn">
            <button>Log in</button>
          </div>
          <div class="boxOfLine">
            <div class="line"></div>
            <p>OR</p>
            <div class="line"></div>
          </div>
        </div>
        <div class="lowerCont">
          <p>Don't have an account? <a href="/">Sign up</a></p>
        </div>
      </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
