<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="cont">
        <div class="allUserData">
            <div class="outerDivOfIfAndEdit">
                <div class="dp">
                  dp  <!-- <img src="" alt=""> -->
                </div>
                <div class="idAndEditPhoto">
                    <h4>id</h4>
                    <button>Edit Profile</button>
                </div>
            </div>
            <div class="someUserData">
                <h3>name</h3>
                <p>description</p>
            </div>
        </div>
        <div class="userPosts">
            photos
        </div>
    </div>
    <% include ./nav.ejs %>
</body>
</html>