<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <div class="cont">
      <div class="allUserData">
        <div class="outerDivOfIfAndEdit">
          <div class="dp">
            <img
              class="cursor-pointer"
              src="/images/uploads/<%= user.profilePicture %>"
              alt=""
            />
          </div>
          <div class="idAndEditPhoto">
            <p><%= user.username %></p>
            <button class="text-sm font-semibold"><a href="/editprofile" class="w-full">Edit Profile</a></button>
            <button class="text-sm font-semibold"><a href="/logout" class="w-full">Log out</a></button>
          </div>
        </div>
        <div class="someUserData">
          <p class="font-semibold"><%= user.fullname %></p>
          <p>
            <%= user.description %>
          </p>
        </div>
      </div>

      <div class="insights">
        <div class="postscount">
          <h3>1</h3>
          <p>posts</p>
        </div>
        <div class="followersCount cursor-pointer">
          <h3>100</h3>
          <p>followers</p>
        </div>
        <div class="followingCount cursor-pointer">
          <h3>100</h3>
          <p>following</p>
        </div>
      </div>
      <div class="userPosts">
        <div class="postsSection">
          <p>POSTS</p>
        </div>
        <div class="posts">
          <div class="post">
            <img
              src="https://images.unsplash.com/photo-1705179910388-2e27559c3f39?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
            <img
              src="https://images.unsplash.com/photo-1705179910388-2e27559c3f39?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
            <img
              src="https://images.unsplash.com/photo-1705179910388-2e27559c3f39?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
            <img
              src="https://images.unsplash.com/photo-1705179910388-2e27559c3f39?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
            <img
              src="https://images.unsplash.com/photo-1705179910388-2e27559c3f39?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
            <img
              src="https://images.unsplash.com/photo-1705179910388-2e27559c3f39?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
      <% include ./nav.ejs %>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
