* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.cont {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid firebrick; */
  overflow: hidden;
}

.searchBar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid violet; */
}

.searchBar input {
  width: 95%;
  border-radius: 5px;
  height: 40px;
  border: none;
  background-color: rgb(200, 200, 200, 0.4);
  padding: 0 10px;
}
